:local .exit {
  position: absolute;
  top: 1px;
  right: 2px;
  padding: 0 10px;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 1;
  color: white;
  transform-origin: center;
  transform: rotate(45deg);
  background-color: transparent;
}

:local .input {
  border: none;
  background-color: transparent;
  caret-color: white;
}

:local .input:focus {
  outline: 0;
}

:local .counter {
  float: right;
}
