:local ul {
  padding: 0;
  list-style: none;
}

:local li {
  display: grid;
  grid-template-columns: minmax(100px, 2fr) minmax(100px, 1fr) minmax(30px, 1fr) minmax(100px, 1fr);
  grid-gap: 8px;
}

:local p {
  overflow-wrap: break-word;
  text-align: right;
}

:local p:first-child {
  text-align: left;
}

:local p.date {
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

:local p.date+p.date {
  margin-top: 0;
}

:local .textright {
  text-align: right;
}

:local .timerbuttonwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:local .timerbutton {
  background-color: transparent;
}

:local .timerclip__bg {
  background-color: white;
}
